.body-container-sm {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-wrapper-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

a {
    height: 100%;
    width: 100%;
}
.sorcs-sm {
    display: flex;
}

.incants-sm {
    display: flex;
}
.grid-container-sm {
    display: grid;
    height: 80vh;
    width: 75vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    text-align: center;
}

.button-sm {
    height: 5em;
    width: 10em;
    grid-column: 2;
    grid-row: 1;
}

.weapons-sm {
    display: flex;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.starting-class-sm {
    grid-column: 1;
    grid-row: 1;
    height: 10em;
    width: 5em;
    justify-self: center;
    align-self: center;
}

.sorcs-incants-sm {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
}

.item {
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
}

.item-img {
    height: 7rem;
    width: 7rem;
}

h1 {
    display: none;
}

.armor-sm {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

.talismans-sm {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
}

.ashes-sm {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-self: center;
    align-self: center;
}

.secondary-items-sm {
    display: flex;
    height: 10em;
    width: 5em;
}

.item-desc {
    display: none;
}

.class-img {
    height: 200px;
    width: 150px;
}

.button-class-container {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-self: center;
    align-self: center;
}

.weapons-shield-container {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-self: center;
    align-self: center;
}

.ashes-spirits-sm {
    display: flex;
    justify-self: center;
    align-self: center;
}

.footer {
    text-align: center;
}
