* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

.desc-container {
    color: #181a1b;
    height: 50px;

}

.class-desc-container {
    color: #181a1b;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-title {
    color: black !important;
}



.shield-container-title, .item-title, .armor-container-title, .ashes-container-title, .incantations-container-title, .sorcs-container-title, .talis-container-title, .shields-container-title, .weapons-container-title {
    color: black;
    font-family: 'Cormorant Garamond';
}


.armor-container-title {
    color: black;
}

@import '~mdb-ui-kit/css/mdb.min.css';

.item-container {
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.item-img {
    height: 200px;
    width: 200px;
}

.starting-class-img {
    height: 400px;
    width: 300px;
}

.item-img:hover {
    height: 250px;
    width: 250px;
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.2); */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.App {
    text-align: center;
    font-family: 'Poppins', 'Quicksand', sans-serif;
    margin-bottom: 40px;
    margin: auto;
}

.weapons_underline {
    height: 10px;
    width: 100px;
    background-color: black;
    border: 1px solid black;
    z-index: 99;
}

.body-container {
    width: 90%;
    margin: auto;
    color: #181a1b;
}

#starting-class {
    height: 600px;
    width: 300px;
}

#secondary-item-bottom {
    border-top: 0;
}

.secondary-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(172, 172, 172, 0.3);
    margin-bottom: 20px;
    border-radius: 5px;

}

.starting-class-container {
    width: 50%;
    height: 450px;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sorceries-container,
.incantations-container,
.talismans-container,
.ashes-spirits-container {
    display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Unbounded:wght@800&family=Cormorant+Garamond:wght@500&display=swap');

.title {
    font-family: 'Cormorant Garamond' !important; 
    font-weight: bold;
    font-size: 28px;
}

#root {
    max-width: 100vw;
    /* background: url('E:\Code\React\elden-ring-random-build-generator-main\src\elden-ring-bg5.jpg')
    no-repeat center center;
    background-size: cover; */
    width: 100vw;
    background-color: #2f2f2f;
    color: #181a1b;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}

.ER, .BG {
    display: inline;
}

.ER {
    color: #ef8b09; 
    /* text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000; */
    text-shadow: none;

}

.armors-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(172, 172, 172, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
}

.armors-inner {
    display: flex;
}

.armors-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.primary-items-container {
    display: flex;
    justify-content: center;
    background-color: rgba(172, 172, 172, 0.3);
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.weapons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weapons-shield-container {
    justify-content: center;
    align-items: center;
}

.class-button-container {
    display: flex;
    z-index: -12;
    align-items: center;
    justify-content: center;
    flex: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(172, 172, 172, 0.3);
    margin-bottom: 20px;
    border-radius: 5px;

}

.weapons-desc {
}
.weapons-desc-container {
}

.item-container {
    margin-right: 1rem;
    border: 1px solid black;
    margin-bottom: 2rem;
}

.button-container:hover {
    box-shadow: 0px 0px 10px rgba(54, 54, 54, 0.5);
    
}

.button-container {
    border-radius: 5px;
}

.logo-container, .title-container, .dev-message-container {
    width: max-content;
    flex-shrink: 1;
    flex: 1;
}

.dev-message-container, .dev-message-inner, .dev-message-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev-message-inner, .title-inner, .logo-inner {
    /* width: 200px; */
    height: 100%;
}
.header-container {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    height: 75px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /* background-color: rgb(74, 74, 74); */
    background-color: #2f2f2f;
    color: #c7c7c7;
}

.logo {
    font-family: 'Unbounded';
    display: inline;
    margin: auto;
    position: absolute;
    font-size: 32px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    height: 40px;
    margin-bottom: 5px;
    /* text-shadow: 0 0 10px rgba(239, 184, 9, 0.2); */
    margin-left: 80px;
}

.logo-container {
    /* box-shadow: 0px 0px 10px #ef8b09; */
    height: 50px;
    width: 175px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-shadow: 0 0 10px rgba(239, 184, 9, 0.2);
}

.button-large {
    height: 200px;
    width: 400px;
    background-color: #ef8b09 !important;
    border-color: #efb809 !important; 
    border: none !important;
}

.dev-message {
    font-size: 12px;
    max-width: 80%;
}

.dev-message-bottom {
    font-size: 16px;
    color: #c7c7c7;
}

.dev-message-inner {
    margin-top: 10px;
}

.dev-message-container, .dev-message-bottom-container {
    height: 75px;
    width: 100%;
}

a:link {
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    body {
      background-color: lightblue !important;
    }
    .mobile-message {
        height: 100vh;
        width: 100vw;
        font-size: 32px;
        text-align: center;
        color: #c7c7c7;
    }
}

