/**
* GLOBAL 
*/
@import '~mdb-ui-kit/css/mdb.min.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Unbounded:wght@800&family=Cormorant+Garamond:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    max-width: 100vw;
    width: 100vw;
    --bg-dkmd-dk: #232323;
    --bg-dkmd-lt: rgb(45, 45, 45);
    --font-dkmd: #c7c7c7;
    --border-dkmd: rgba(199, 199, 199, 0.2);
    --highlight-dkmd-lt: rgba(50, 50, 50, 0.7);
    --elden-font: 'Cormorant Garamond';
    --bg-ltmd-lt: white;
    --bg-ltmd-dk: #c7c7c7;
    --font-ltmd: black;
    --highlight-ltmd-dk: rgba(220, 220, 220, 0.5);
}
/**
* END GLOBAL
*/

/**
* --------------------- Large Layout ----------------------
*/

/**
* --------------------- Dark Mode & Defaults ----------------------
*/

/**
* General
*/
a:link {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.App {
    text-align: center;
    font-family: 'Poppins', 'Quicksand', sans-serif;
    margin-bottom: 40px;
    margin: auto;
    background-color: var(--bg-dkmd-dk);
    color: var(--font-dkmd);
}

.body-container {
    width: 90%;
    margin: auto;
}

.primary-items-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: var(--bg-dkmd-lt);
}

.logo-container,
.title-container,
.dev-message-container {
    width: max-content;
    flex-shrink: 1;
    flex: 1;
}
/**
 * End general
*/

/**
 * Scrollbar
*/
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
/**
 * End scrollbar
*/

/**
 * Item
*/
.desc-container {
    height: 50px;
    font-size: 14px;
}

.item-title {
    font-family: var(--elden-font);
}

.item-container {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 1rem;
    border: 1px solid var(--border-dkmd);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.item-container:hover {
    overflow-y: visible;
    background-color: var(--highlight-dkmd-lt);
}

.item-img {
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.item-title,
.section-container-title {
    font-family: var(--elden-font);
}

.item-img:hover {
    height: 205px;
    width: 205px;
    cursor: pointer;
}
/**
 * End item
*/

/**
 * Class
*/
.class-desc-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starting-class-img {
    height: 400px;
    width: 300px;
}

#starting-class {
    height: 600px;
    width: 300px;
}

.starting-class-container {
    width: 50%;
    height: 450px;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.class-button-container {
    display: flex;
    /* z-index: -12; */
    align-items: center;
    justify-content: center;
    flex: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--bg-dkmd-lt);
}
/**
 * End class
*/

/**
 * Secondary Items
*/
#secondary-item-bottom {
    border-top: 0;
}

.secondary-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--bg-dkmd-lt);
}

.sorceries-container,
.incantations-container,
.talismans-container,
.ashes-spirits-container {
    display: block;
}
/**
 * End secondary Items
*/

/**
 * Header
*/
.toggle-button-container {
    margin-left: 20px;
}
.header-title {
    font-family: var(--elden-font) !important;
    font-weight: bold;
    font-size: 28px;
}

.ER,
.BG {
    display: inline;
}

.ER {
    color: #ef8b09;
    text-shadow: none;
}

.header-container {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    height: 75px;
    border-bottom: 1px solid var(--border-dkmd);
    background-color: var(--bg-dkmd-dk);
}

.logo {
    font-family: 'Unbounded';
    display: inline;
    margin: auto;
    position: absolute;
    font-size: 32px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    height: 40px;
    margin-bottom: 5px;
    /* text-shadow: 0 0 10px rgba(239, 184, 9, 0.2); */
    margin-left: 80px;
}

.logo-container {
    /* box-shadow: 0px 0px 10px #ef8b09; */
    height: 50px;
    width: 175px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-shadow: 0 0 10px rgba(239, 184, 9, 0.2);
}
/**
 * End header
*/

/** 
 * Armor
*/
.armors-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--bg-dkmd-lt);
}

.armors-inner {
    display: flex;
}

.armors-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
/**
 * End armor
*/

/**
 * Weapons
*/
.weapons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shield-outer {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.weapons-outer {
    margin: 20px;
}

.weapons-shield-container {
    justify-content: center;
    align-items: center;
}
/**
 * End weapons
*/

/**
 * Generate button
*/
.button-container:hover {
    box-shadow: 0px 0px 10px rgba(54, 54, 54, 0.5);
}

.button-container {
    border-radius: 5px;
}

.button-large {
    height: 200px;
    width: 400px;
    background-color: #ef8b09 !important;
    border-color: #efb809 !important;
    border: none !important;
}
/**
 * End generate button
*/

/**
 * Dev message
*/
.dev-message-container,
.dev-message-inner,
.dev-message-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev-message-inner,
.title-inner,
.logo-inner {
    /* width: 200px; */
    height: 100%;
}

.dev-message {
    font-size: 12px;
    max-width: 80%;
}

.dev-message-bottom {
    font-size: 16px;
}

.dev-message-inner {
    margin-top: 10px;
}

.dev-message-container,
.dev-message-bottom-container {
    height: 75px;
    width: 100%;
}
/**
 * End dev message 
*/

/**
* --------------------- End Dark Mode & Defaults ----------------------
*/

/**
* --------------------- Light Mode ----------------------
*/

/**
* General
*/
.App-lt {
    text-align: center;
    font-family: 'Poppins', 'Quicksand', sans-serif;
    margin-bottom: 40px;
    margin: auto;
    background-color: var(--bg-ltmd-lt);
    color: var(--font-ltmd);
}
.primary-items-container-lt {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: var(--bg-ltmd-dk);
}
/**
 * End general
*/

/**
 * Scrollbar
*/
::-webkit-scrollbar-lt {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-corner-lt {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb-lt {
    background-color: #454a4d;
}
/**
 * End scrollbar
*/

/**
 * Item
*/
.item-container-lt {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 1rem;
    border: 1px solid var(--border-dkmd);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.item-container-lt:hover {
    overflow-y: visible;
    background-color: var(--highlight-ltmd-dk);
}
/**
 * End item
*/

/**
 * Class
*/
.class-button-container-lt {
    display: flex;
    /* z-index: -12; */
    align-items: center;
    justify-content: center;
    flex: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--bg-ltmd-dk);
}
/**
 * End class
*/

/**
 * Secondary Items
*/
.secondary-items-container-lt {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--bg-ltmd-dk);
}
/**
 * End secondary Items
*/

/**
 * Header
*/
.header-container-lt {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    height: 75px;
    border-bottom: 1px solid var(--border-dkmd);
    background-color: var(--bg-ltmd-dk);
}
/**
 * End header
*/

/** 
 * Armor
*/
.armors-outer-lt {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--bg-ltmd-dk);
}
/**
 * End armor
*/

/**
* --------------------- End Light Mode ----------------------
*/

/**
* --------------------- End Large Layout & Defaults ----------------------
*/

/**
* --------------------- Small Layout ----------------------
*/

/**
* --------------------- Dark Mode ----------------------
*/

/**
* General
*/

.primary-items-container-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--bg-dkmd-lt);
    width: 100%;
    height: 100%;
}

.items-container-sm {
    height: 100px;
}

.item-title-sm {
    font-size: 16px;
    font-family: var(--elden-font);
}

.logo-container,
.title-container,
.dev-message-container {
    width: max-content;
    flex-shrink: 1;
    flex: 1;
}

.App-sm {
    color: var(--font-dkmd);
    background-color: var(--bg-dkmd-lt)
}
/**
 * End general
*/

/**
 * Scrollbar
*/
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
/**
 * End scrollbar
*/

/**
 * Item
*/
.desc-container-sm {
    height: 25px;
    font-size: 8px;
    display: none;
}

.item-container-sm {
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 1rem;
    border: 1px solid var(--border-dkmd);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-container-sm:hover {
    overflow-y: visible;
    background-color: var(--highlight-dkmd-lt);
}

.item-img-sm {
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.item-img-sm:hover {
    height: 205px;
    width: 205px;
    cursor: pointer;
}
/**
 * End item
*/

/**
 * Class
*/
.class-desc-container-sm {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.class-container-sm {
    display: flex;
}

.starting-class-img-sm {
    height: 200px;
    width: 150px;
}

#starting-class-sm {
    height: 100px;
    width: 75px;
}

.starting-class-container-sm {
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.small-layout-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bg-dkmd-dk);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    flex: 1;
}

.armor-secondary-items-container-sm {
    display: flex;
    width: 50%;
    height: 100% !important;
    flex-direction: column;
    align-items: stretch;
    row-gap: 20px;
    position: relative;
}

.class-button-container-sm {
    display: flex;
    /* z-index: -12; */
    align-items: center;
    /* justify-content: space-evenly; */
    border-radius: 5px;
    height: 80vh;
    width: 90vw;
    flex-direction: column;
    flex: 1;
    justify-content: stretch;
}

.class-button-inner {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}

.class-weapons-container-sm {
    display: flex;
    flex-direction: row;
    width: 50%;
    min-height: 100%;
    flex: 1;
}

.weapons-container-sm {
    height: 400px;
    flex-basis: 50%;
}

.weapons-container-sm .item-container-sm {
    height: 200px;
    width: 200px;
}

.weapons-container-sm .item-title-sm {
    font-size: 20px;
}

.weapons-container-sm .item-container-sm a .item-img-sm {
    height: 100px;
    width: 100px;
}

.weapons-outer .section-container-title-sm {
    font-size: 32px;
}

.weapons-outer-sm,
.shield-outer-sm {
    height: 95%;
    height: 95%;
}
/**
 * End class
*/

.armors-container-sm {
    display: flex;
    flex-basis: auto;
    width: 100%;
    height: 100%;
    align-self: stretch;
}

/**
 * Secondary Items
*/
.secondary-items-container-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-dkmd-lt);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 95%;
    flex-basis: auto;
    flex-grow: 4;
    align-self: stretch;
    top: 0;
    left: 0;
    position: absolute;
}

.sorceries-container-sm,
.incantations-container-sm,
.talismans-container-sm,
.ashes-spirits-container-sm {
    display: block;
}
/**
 * End secondary Items
*/

/** 
 * Armor
*/
.armors-outer-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-dkmd-lt);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 95%;
    width: 95%;
    margin-bottom: 20px;
}
/**
 * End armor
*/

.section-container-title-sm {
    font-size: 20px;
    font-family: var(--elden-font);
    font-weight: bold;
    text-align: center;
}

/**
 * Generate button
*/
.button-container-sm {
    border-radius: 5px;
}

.button-sm {
    height: 100px;
    width: 200px;
    background-color: #ef8b09 !important;
    border-color: #efb809 !important;
    border: none !important;
}

.button-container-sm:hover {
    box-shadow: 0px 0px 10px rgba(54, 54, 54, 0.5);
}
/**
 * End generate button
*/

/**
* --------------------- End Dark Mode ----------------------
*/

/**
* --------------------- Light Mode ----------------------
*/

/**
* General
*/
.App-lt {
    text-align: center;
    font-family: 'Poppins', 'Quicksand', sans-serif;
    margin-bottom: 40px;
    margin: auto;
    background-color: var(--bg-ltmd-lt);
    color: var(--font-ltmd);
}

.primary-items-container-lt-sm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--bg-ltmd-dk);
}
/**
 * End general
*/

/**
 * Scrollbar
*/
::-webkit-scrollbar-lt {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-corner-lt {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb-lt {
    background-color: #454a4d;
}
/**
 * End scrollbar
*/

/**
 * Item
*/
.desc-container-lt-sm {
    height: 50px;
    font-size: 14px;
}
.item-container-lt-sm {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 1rem;
    border: 1px solid var(--border-dkmd);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.item-container-lt-sm:hover {
    overflow-y: visible;
    background-color: var(--highlight-ltmd-dk);
}
/**
 * End item
*/

/**
 * Class
*/
.class-button-container-lt-sm {
    display: flex;
    /* z-index: -12; */
    align-items: center;
    justify-content: center;
    flex: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: var(--bg-ltmd-dk);
}
/**
 * End class
*/

/**
 * Secondary Items
*/

.secondary-items-container-lt-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--bg-ltmd-dk);
}
/**
 * End secondary Items
*/

/**
 * Header
*/
.header-container-lt-sm {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    height: 75px;
    border-bottom: 1px solid var(--border-dkmd);
    background-color: var(--bg-ltmd-dk);
}
/**
 * End header
*/

/** 
 * Armor
*/
.armors-outer-lt-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--bg-ltmd-dk);
}
/**
 * End armor
*/

/**
 * Weapons
*/
.weapons-container-sm {
    height: 40%;
    width: 95%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
/**
* --------------------- End Light Mode ----------------------
*/

/**
* --------------------- End Small Layout ----------------------
*/

/**
 * --------------------- Mobile ----------------------
*/
@media only screen and (max-width: 1200px) {
    body {
        background-color: lightblue !important;
    }
    .mobile-message {
        height: 100vh;
        width: 100vw;
        font-size: 32px;
        text-align: center;
        color: var(--font-dkmd);
    }
}
